@import './variables';

%yellow-button {
    color: #0D0C11;
    background: $active-col;
}

%question {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: $main-text-col;
}

%qst-with-stand-ans {
    font-size: 20px;
    line-height: 26px;
}

%qst-with-square-ans {
    font-size: 19px;
    line-height: 24px;
}