$head-height: 46px;
$head-height-992: 54px;
$head-height-vh: 7.74vh;
$head-height-992-vh: 9.09vh;
$width-992: 70%;
$width-1400: 60%;
$active-col: #FFC700;
$main-text-col: #FFFFFF;
$black-back: #181818;
$indicators: #3BDE7C;